@model IEnumerable<Major_Food_Recipe.Models.FoodSubCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Add Sub Category</h1>

<p>
    <a btn btn-sm btn-success asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodSubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodSubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategory.FoodCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodSubCategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodSubCategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodSubCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
