@model IEnumerable<FoodRecipe.Models.AddFoodRecipe>

@{
    ViewData["Title"] = "IndexCustomized";
}

<h1>Food Details</h1>


<div class="card-columns">
    @foreach (var fooditem in Model)
    {
        <div style="width:1080px;" class="card bg-info">
            
            <div class="card-header font-weight-bold text-center">
                <h5 class="text-white"> Food Recipe - @fooditem.FoodRecipeId</h5>
                
            </div>
            <div class="card-body bg-light">
                <strong style="color:cadetblue"> @Html.DisplayNameFor(modelItem => fooditem.FoodRecipeName) : </strong>@fooditem.FoodRecipeName
                <br/>
                <hr/>
                <strong style="color:cadetblue">
                    @Html.DisplayNameFor(modelItem => fooditem.FoodIngredient) :
                </strong> <br /> @fooditem.FoodIngredient
                <br />
                <hr/>
                    <strong style="color:cadetblue">
                    @Html.DisplayNameFor(modelItem => fooditem.FoodMakingStep) :
                </strong> <br />@fooditem.FoodMakingStep
                <br />

            </div>
            <div class="card-footer bg-info">
        
                <a class="btn text-white" asp-area="Recipe" asp-controller="AddFoodRecipes" asp-action="Details" asp-route-id="@fooditem.FoodRecipeId">Details</a>
      
            </div>
        </div>
    }
</div>
