@model IEnumerable<FoodRecipe.Models.AddFoodRecipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodRecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodIngredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodMakingStep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodSubCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodRecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodIngredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodMakingStep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodSubCategory.FoodSubCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodRecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodRecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodRecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
